
@media (max-width: 1300px) {

    
    
    .offcanvas.offcanvas-start {
        width: 260px;
    }

    
    header .carousel-item:nth-child(1).active .carousel-caption p {
        width: 100%;
        font-size: 11px;
    }

    
    header #heroSlider .nav-arrows {
        bottom: 15px;
        right: 30px;
        width: 72px;
    }

    header #heroSlider .nav-arrows .carousel-control-next,
    header #heroSlider .nav-arrows .carousel-control-prev {
        width: 30px;
        height: 28px;
    }

    
    header .carousel-item:nth-child(2) .col-left .deco-img {
        width: 150px;
    }

    header .carousel-item:nth-child(2) .col-left h2 {
        font-size: 60px;
    }

    header .carousel-item:nth-child(2) .col-left p {
        font-size: 11px;
    }

    header .carousel-item:nth-child(2) .col-left .info-block .hotline {
        font-size: 20px;
    }

    header .carousel-item:nth-child(2) .col-right img {
        display: none;
    }

    
    header .carousel-item:nth-child(3) .col-left img {
        display: none;
    }

    header .carousel-item:nth-child(3) .col-right p {
        font-size: 11px;
    }

    
    #about-us .col-left p,
    #about-us .col-left .tile .detail-row h4 {
        font-size: 13px;
    }

    #about-us .col-right .panel {
        height: 200px;
    }

    
    #why-choose-us {
        background-image: url("../images/video_image-min.jpg");
        background-position: center;
        background-size: cover;
    }

    #why-choose-us video {
        display: none;
    }

    #why-choose-us .info-block p {
        font-size: 11px;
    }

    #why-choose-us .panel .tile {
        max-width: 260px;
    }

    #why-choose-us .panel .tile:not(:last-child) {
        margin-bottom: 30px;
    }

    
    #our-menu .menu-layout {
        flex-direction: column;
    }

    #our-menu .menu-layout .nav {
        width: 100%;
    }

    #our-menu .menu-layout .nav .tile-row {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #our-menu .nav button {
        border-top: 1px solid #fff;
    }

    #our-menu .nav button::before {
        right: 50%;
        top: initial;
        bottom: 0;
        transform: translateX(50%) translateY(120%) rotate(45deg);
    }

    #our-menu .nav button.active::before {
        transform: translateX(50%) translateY(50%) rotate(45deg);
    }

    #our-menu .nav button:first-child {
        border-top: 1px solid #fff;
        border-radius: 5px 0 0 5px;
    }

    #our-menu .nav button:last-child {
        border-radius: 0 5px 5px 0px;
    }

    
    #our-team .container .panel .chef-tile {
        width: 260px;
    }

    #our-team .container .panel:not(:last-child) {
        margin-bottom: 70px;
    }

    
    #reservation .col-left form {
        width: 90%;
    }

    #reservation .col-right {
        display: none;
    }

    
    footer p {
        font-size: 11px;
    }

}

@media (min-width: 371px) and (max-width: 1300px) {

    
    
    header .carousel-item:nth-child(1).active .carousel-caption p {
        width: 90%;
    }

    header .carousel-item:nth-child(2) .col-left p {
        font-size: 13px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {

    
    
    header .carousel-item:nth-child(1).active .carousel-caption p {
        width: 60%;
        font-size: 15px;
    }

    

    header .carousel-item:nth-child(3) .col-right p {
        font-size: 15px;
    }

    
    header #heroSlider .nav-arrows {
        bottom: 15px;
        right: 30px;
        width: 90px;
    }

    header #heroSlider .nav-arrows .carousel-control-next,
    header #heroSlider .nav-arrows .carousel-control-prev {
        width: 40px;
        height: 36px;
    }

    
    #about-us .col-left p,
    #about-us .col-left .tile .detail-row h4 {
        font-size: 15px;
    }

    
    #why-choose-us .info-block p {
        font-size: 13px;
    }

    
    footer p {
        font-size: 13px;
    }

}

@media (min-width: 769px) and (max-width: 1300px) {

    
    .offcanvas.offcanvas-start {
        width: 260px;
    }

    header .carousel-item:nth-child(2) .col-right img {
        display: block;
    }

    header .carousel-item:nth-child(3) .col-left img {
        display: block;
    }

    
    #about-us .col-right .panel {
        height: 300px;
    }

    
    #why-choose-us {
        background-image: none;
    }

    #why-choose-us video {
        display: block;
    }

    #why-choose-us .info-block p {
        font-size: 15px;
    }

    #why-choose-us .panel .tile:not(:last-child) {
        margin-bottom: 0px;
    }

    
    #our-menu .menu-layout .nav .tile-row {
        justify-content: center;
    }

    
    #our-team .container .panel .chef-tile {
        width: initial;
    }

    #our-team .container .panel:not(:last-child) {
        margin-bottom: 0px;
    }

    
    #reservation .col-left form {
        width: 90%;
    }

    #reservation .col-right {
        display: flex;
    }

    #reservation .col-right img {
        width: 100%;
    }

}

@media (min-width: 992px) and (max-width: 1300px) {

    
    .offcanvas.offcanvas-start {
        width: 360px;
    }

    
    #our-menu .menu-layout {
        flex-direction: row;
    }

    #our-menu .menu-layout .nav .tile-row {
        flex-direction: column;
    }

    #our-menu .menu-layout .nav {
        width: initial;
    }

    #our-menu .nav button::before {
        right: 0%;
        top: 50%;
        bottom: initial;
        transform: translateX(120%) translateY(-50%) rotate(45deg);
    }

    #our-menu .nav button.active::before {
        transform: translateX(50%) translateY(-50%) rotate(45deg);
    }

    #our-menu .nav button:first-child {
        border-top: 1px solid #fff;
        border-radius: 5px 5px 0 0;
    }

    #our-menu .nav button:last-child {
        border-radius: 0 0 5px 5px;
    }

    #our-menu .tab-content .tab-pane .tile .dish .col-right .rating-icons i {
        font-size: 11px;
    }

    
    footer p {
        font-size: initial;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {}

@media (max-width: 1300px) {
    .cta-btn {
        padding: 4px 16px;
    }
}