nav {
    padding: 22.5px 0px;
    position: absolute;
    width: 100%;
    z-index: 999;
}
nav .col-right button {
    background-color: transparent;
    border: none;
    height: 16.5px;
    position: relative;
    width: 26.25px;
}
nav .col-right button span {
    background-color: #fff;
    display: block;
    height: 1.5px;
    position: absolute;
    width: 100%;
}
nav .col-right .offcanvas.show+button span {
    transition-duration: var(--transition-duration);
}
nav .col-right button span:nth-child(1) {
    top: 0;
    transition-delay: .1s;
}
nav .col-right .offcanvas.show+button span:nth-child(1) {
    top: initial;
    transform: rotate(45deg);
    width: 75%;
}
nav .col-right button span:nth-child(2) {
    transform: translateY(-50%);
    transition-duration: var(--transition-duration);
}
nav .col-right .offcanvas.show+button span:nth-child(2) {
    transform: scale(0);
}
nav .col-right button span:nth-child(3) {
    bottom: 0;
    transition-delay: .1s;
}
nav .col-right .offcanvas.show+button span:nth-child(3) {
    bottom: initial;
    transform: rotate(-45deg);
    width: 75%;
}
nav .col-right .offcanvas {
    background: var(--main-gradient);
    border: none;
}
nav .col-right .offcanvas .offcanvas-header button {
    transition-duration: .5s;
}
nav .col-right .offcanvas .offcanvas-header button:focus {
    box-shadow: none;
    opacity: 1;
}
nav .col-right .offcanvas .offcanvas-header button:hover {
    transform: rotate(180deg);
}
nav .col-right .offcanvas .offcanvas-body ul li .nav-link-custom {
    background: 0 0;
    border: 0;
    color: #fff;
    display: block;
    font-size: 13.5px;
    padding: 6px 0px;
    text-decoration: none;
    transition-duration: .5s;
}
nav .col-right .offcanvas .offcanvas-body ul li a:hover {
    color: var(--primary-color);
    transform: translateX(7.5px);
}
nav .col-right .offcanvas .offcanvas-body .social-links ul {
    display: flex;
    padding: 11.25px 0px;
}
nav .col-right .offcanvas .offcanvas-body .social-links ul li {
    position: relative;
}
nav .col-right .offcanvas .offcanvas-body .social-links ul li i {
    align-items: center;
    background-color: #fff;
    border-radius: 7.5px;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    transition-duration: var(--transition-duration);
    width: 30px;
}
nav .col-right .offcanvas .offcanvas-body .social-links ul li:nth-child(1) .social-icon {
    color: #1877F2;
    z-index: 3;
}
nav .col-right .offcanvas .offcanvas-body .social-links ul li:nth-child(2) .social-icon {
    color: #E1306C;
}
nav .col-right .offcanvas.show .offcanvas-body .social-links ul li:nth-child(2) .social-icon {
    transform: translateX(41.25px);
    transition-delay: .6s;
}
nav .col-right .offcanvas .offcanvas-body .social-links ul li:nth-child(3) .social-icon {
    color: #25D366;
}
nav .col-right .offcanvas.show .offcanvas-body .social-links ul li:nth-child(3) .social-icon {
    transform: translateX(82.5px);
    transition-delay: .3s;
}
nav .col-right .offcanvas .offcanvas-body .social-links ul li:nth-child(4) .social-icon {
    color: #1DA1F2;
}
nav .col-right .offcanvas.show .offcanvas-body .social-links ul li:nth-child(4) .social-icon {
    transform: translateX(123.75px);
}
nav .col-right .offcanvas .offcanvas-body .social-links ul li .social-icon:hover {
    color: var(--primary-color);
}
header #heroSlider .carousel-inner {
    height: 100dvh;
}
header .carousel-inner .carousel-item::before {
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
header .carousel-item .carousel-caption {
    z-index: 2;
}
header .carousel-item:nth-child(1) {
    background: url(../images//home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100svh;
}
header .carousel-item:nth-child(1) .carousel-caption {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .carousel-item:nth-child(1) .carousel-caption>* {
    transform: scale(0);
    transition-duration: var(--transition-duration);
}
header .carousel-item:nth-child(1).active .carousel-caption>* {
    transform: scale(1);
}
header .carousel-item:nth-child(1).active .carousel-caption p {
    padding: 0px 11.25px;
    transition-delay: .2s;
    width: 40%;
}
header .carousel-item:nth-child(1).active .carousel-caption a {
    transition-delay: .4s;
}
header .carousel-item:nth-child(1) img {
    transition-duration: var(--transition-duration);
}
header .carousel-item:nth-child(1).active img {
    transform: scale(1.1);
}
header .carousel-item:nth-child(2) img {
    width: 105%;
}
header .carousel-item:nth-child(2) {
    background: url(../images/slider-bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100svh;
    overflow: hidden;
}
header .carousel-item:nth-child(2) .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
header .carousel-item:nth-child(2) .col-left {
    align-items: center;
    display: flex;
    flex-direction: column;
}
header .carousel-item:nth-child(2) .col-left .deco-img {
    position: relative;
    transform: translateY(-350%);
    transition-duration: 1s;
    width: 210px;
    z-index: 2;
}
header .carousel-item:nth-child(2).active .col-left .deco-img {
    transform: translateY(50%);
}
header .carousel-item:nth-child(2) .col-left h2 {
    color: #E4C5A6;
    font-size: 67.5px;
    font-weight: 700;
    transform: translateX(-250%);
    transition-duration: var(--transition-duration);
}
header .carousel-item:nth-child(2).active .col-left h2 {
    transform: translateX(0%);
}
header .carousel-item:nth-child(2) .col-left hr {
    width: 100%;
}
header .carousel-item:nth-child(2) .col-left hr,
header .carousel-item:nth-child(2) .col-left .info-block>* {
    transform: scale(0);
    transition-duration: var(--transition-duration);
}
header .carousel-item:nth-child(2).active .col-left hr,
header .carousel-item:nth-child(2).active .col-left .info-block>* {
    transform: scale(1);
}
header .carousel-item:nth-child(2) .col-left .info-block .hotline {
    color: var(--primary-color);
    font-size: 22.5px;
}
header .carousel-item:nth-child(2) .col-right {
    align-items: center;
    display: flex;
}
header .carousel-item:nth-child(2) .col-right img {
    animation: spin 5s linear infinite;
    height: fit-content;
    position: relative;
    top: -100%;
    transition-duration: var(--transition-duration);
}
header .carousel-item:nth-child(2).active .col-right img {
    top: 0%;
    transform: translateY(-50%);
}
header .carousel-item:nth-child(3) {
    background: url(../images/chef-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100svh;
    overflow: hidden;
}
header .carousel-item:nth-child(3) .col-left {
    align-items: center;
    display: flex;
}
header .carousel-item:nth-child(3) .col-left img {
    animation: hop 2s alternate infinite ease-in-out;
    height: 337.5px;
    left: -150%;
    position: relative;
    transition-duration: var(--transition-duration);
}
header .carousel-item:nth-child(3).active .col-left img {
    left: 0%;
}
header .carousel-item:nth-child(3) .col-right h2 {
    position: relative;
    top: -100%;
    transition-duration: var(--transition-duration);
}
header .carousel-item:nth-child(3).active .col-right h2 {
    top: 0%;
}
header .carousel-item:nth-child(3) .col-right hr {
    transition-duration: var(--transition-duration);
    width: 0%;
}
header .carousel-item:nth-child(3).active .col-right hr {
    width: 40%;
}
header .carousel-item:nth-child(3) .col-right p {
    opacity: 0;
    transform: translateY(15px);
    transition-duration: var(--transition-duration);
}
header .carousel-item:nth-child(3).active .col-right p {
    opacity: 1;
    transform: translateY(0px);
}
header .carousel-item:nth-child(3) .col-right .images {
    display: flex;
    gap: 60px;
}
header .carousel-item:nth-child(3) .col-right .images .tile {
    opacity: 0;
    transform: translateY(15px);
    transition-duration: var(--transition-duration);
    width: 37.5px;
}
header .carousel-item:nth-child(3).active .col-right .images .tile {
    opacity: 1;
    transform: translateY(0px);
}
header .carousel-item:nth-child(3).active .col-right .images .tile:nth-child(1) {
    transition-delay: .2s;
}
header .carousel-item:nth-child(3).active .col-right .images .tile:nth-child(2) {
    transition-delay: .4s;
}
header .carousel-item:nth-child(3).active .col-right .images .tile:nth-child(3) {
    transition-delay: .6s;
}
header .carousel-item:nth-child(3) .col-right a {
    transform: scale(0);
    transition-duration: var(--transition-duration);
    width: fit-content;
}
header .carousel-item:nth-child(3).active .col-right a {
    transform: scale(1);
}
header #heroSlider .nav-arrows {
    bottom: 22.5px;
    height: 37.5px;
    position: absolute;
    right: 45px;
    width: 97.5px;
}
header #heroSlider .nav-arrows .carousel-control-next,
header #heroSlider .nav-arrows .carousel-control-prev {
    background: var(--main-gradient);
    border-radius: 3.75px;
    color: #fff;
    cursor: pointer;
    display: initial;
    height: 37.5px;
    opacity: 1;
    position: absolute;
    width: 37.5px;
    z-index: 10;
}
header #heroSlider .nav-arrows .carousel-control-next i,
header #heroSlider .nav-arrows .carousel-control-prev i {
    transition-duration: .5s;
}
header #heroSlider .nav-arrows .carousel-control-next:hover i,
header #heroSlider .nav-arrows .carousel-control-prev:hover i {
    color: var(--primary-color);
    transform: scale(1.4);
}
.tile-row::-webkit-scrollbar {
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    height: 1.5px;
}
.tile-row::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 7.5px;
}
#food-categories .tile {
    background: var(--secondary-gradient);
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    min-width: 105px;
    padding: 11.25px;
    width: calc(100% / 7);
}
#food-categories .tile:not(:last-child) {
    border-right: 1px solid #fff;
}
#food-categories .tile img {
    margin-bottom: 11.25px;
    width: 45px;
}
#about-us .col-left>h4 {
    color: var(--primary-color);
}
#about-us .col-left hr {
    width: 40%;
}
#about-us .col-left .tile img {
    width: 18.75px;
}
#about-us .col-right .panel {
    background-image: url("../images/about-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 11.25px;
    height: 225px;
    overflow: hidden;
    width: 100%;
}
#about-us .col-right .panel .deco-square {
    animation: spin 10s linear infinite;
    border: 3px solid var(--primary-color);
    height: 75px;
    position: absolute;
    width: 75px;
}
#why-choose-us {
    overflow: hidden;
}
#why-choose-us::before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
#why-choose-us video {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
#why-choose-us .panel .tile .dish {
    background: linear-gradient(to right, rgba(44, 83, 100, .5), rgba(32, 58, 67, .5), rgba(15, 32, 39, .5));
    border-radius: 7.5px;
    margin: auto;
    padding: 15px 22.5px;
    width: 97%;
}
#why-choose-us .panel .tile .dish img {
    margin-bottom: 7.5px;
    width: 30px;
}
#why-choose-us .panel .tile .dish span {
    color: var(--primary-color);
    margin-inline: 1px;
}
#our-menu .menu-layout .nav .tile-row {
    flex-direction: column;
}
#our-menu .nav button {
    background: var(--main-gradient);
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 0px;
    border-right: 1px solid #fff;
    min-width: 75px;
    overflow: hidden;
    padding: 15px 7.5px;
    position: relative;
    width: 90px;
}
#our-menu .nav button::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 11.25px;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateX(120%) translateY(-50%) rotate(45deg);
    transition-duration: .5s;
    width: 11.25px;
}
#our-menu .nav button.active::before {
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}
#our-menu .nav button:first-child {
    border-radius: 3.75px 3.75px 0 0;
    border-top: 1px solid #fff;
}
#our-menu .nav button:last-child {
    border-radius: 0 0 3.75px 3.75px;
}
#our-menu .nav button img {
    margin-bottom: 7.5px;
    transform: scale(.8);
    transition-duration: .5s;
    width: 30px;
}
#our-menu .nav button.active img {
    transform: scale(1.2);
}
#our-menu .nav button h4 {
    color: #fff;
}
#our-menu .tab-content .tab-pane .tile {
    margin-bottom: 15px;
}
#our-menu .tab-content .tab-pane .tile .dish {
    align-items: center;
    border: 1.5px solid var(--primary-color);
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 7.5px 3.75px;
    position: relative;
    transition-duration: var(--transition-duration);
    width: 90%;
}
#our-menu .tab-content .tab-pane .tile .dish:hover {
    box-shadow: 0 3.75px #f1b60166,
        0 7.5px #f1b6014d,
        0 11.25px #f1b60133,
        0 15px #f1b6011a,
        0 18.75px #f1b6010d,
        -3.75px 3.75px 30px #f1b60166;
    transform: translateY(-7.5px);
}
#our-menu .tab-content .tab-pane .tile .dish img,
#our-menu .tab-content .tab-pane .tile .dish h2 {
    transform: scale(0);
    transition-duration: var(--transition-duration);
}
#our-menu .tab-content .tab-pane.show .tile .dish img,
#our-menu .tab-content .tab-pane.show .tile .dish h2 {
    transform: scale(1);
}
#our-menu .tab-content .tab-pane .tile .dish img {
    width: 90%;
}
#our-menu .tab-content .tab-pane.show .tile .dish h2 {
    margin-bottom: 15px;
}
#our-menu .tab-content .tab-pane .tile .dish .col-left {
    position: relative;
    transform: translateX(-100%);
    transition-duration: var(--transition-duration);
}
#our-menu .tab-content .tab-pane .tile .dish .col-right {
    opacity: 0;
    position: relative;
    transform: translateX(-10%);
    transition-delay: .5s;
    transition-duration: var(--transition-duration);
}
#our-menu .tab-content .tab-pane.show .tile .dish .col-left,
#our-menu .tab-content .tab-pane.show .tile .dish .col-right {
    opacity: 1;
    transform: translateX(0%);
}
#our-menu .tab-content .tab-pane .tile .dish .col-right .rating-icons {
    position: relative;
}
#our-menu .tab-content .tab-pane .tile .dish .col-right .rating-icons i {
    color: var(--primary-color);
    font-size: 10.5px;
    position: absolute;
    transition-duration: var(--transition-duration);
}
#our-menu .tab-content .tab-pane .tile .dish .col-right .rating-icons i:nth-child(1) {
    z-index: 3;
}
#our-menu .tab-content .tab-pane.show .tile .dish .col-right .rating-icons i:nth-child(2) {
    transform: translateX(18.75px);
    transition-delay: .5s;
}
#our-menu .tab-content .tab-pane.show .tile .dish .col-right .rating-icons i:nth-child(3) {
    transform: translateX(37.5px);
    transition-delay: 1s;
}
#our-menu .tab-content .tab-pane.show .tile .dish .col-right .rating-icons i:nth-child(4) {
    transform: translateX(56.25px);
    transition-delay: 1.5s;
}
#our-menu .tab-content .tab-pane.show .tile .dish .col-right .rating-icons i:nth-child(5) {
    transform: translateX(75px);
    transition-delay: 2s;
}
#our-menu .tab-content .tab-pane .tile .dish .col-right span sup {
    color: var(--primary-color);
}
#our-team .container .panel .chef-tile {
    position: relative;
    width: 95%;
}
#our-team .container .panel .chef-tile img {
    border-radius: 7.5px;
    transition-duration: .5s;
    width: 100%;
}
#our-team .container .panel .chef-tile:hover img {
    transform: skewY(5deg);
}
#our-team .container .panel .chef-tile .info-block {
    background: var(--main-gradient);
    border-radius: 7.5px;
    bottom: 0;
    left: 50%;
    padding: 7.5px 11.25px;
    position: absolute;
    transform: translate(-50%, 50%);
    transition-duration: .5s;
    width: 95%;
    z-index: 3;
}
#our-team .container .panel .chef-tile:hover .info-block {
    background: var(--primary-color);
    transform: translate(-50%, -20%);
}
#our-team .container .panel .chef-tile .info-block h4 {
    color: var(--primary-color);
    transition-duration: .5s;
}
#our-team .container .panel .chef-tile .info-block h6 {
    color: rgba(255, 255, 255, .5);
    transition-duration: .5s;
}
#our-team .container .panel .chef-tile:hover .info-block h4,
#our-team .container .panel .chef-tile:hover .info-block h6 {
    color: #fff;
}
#reservation {
    background-image: url("../images/bg_wood.jpg");
}
#reservation .col-left form {
    background-color: #333333;
    background-image: url("../images/chef-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7.5px;
    width: 75%;
}
#reservation .col-left form h2 {
    color: var(--primary-color);
}
#reservation .col-left form .input-group:last-child {
    width: 100%;
}
#reservation .col-left form .input-group .input-group-text {
    background-color: #fff;
}
#reservation .col-left form .input-group input:focus,
#reservation .col-left form .input-group textarea:focus-visible {
    border-color: #fff;
    box-shadow: none;
    outline: none;
}
#reservation .col-left form .input-group textarea,
#reservation .col-left form .input-group input:first-child,
#reservation .col-left form .input-group input:last-child {
    border-left: none;
}
#reservation .col-left form .input-group textarea {
    border: 1px solid #fff;
    border-radius: 0 4.5px 4.5px 0;
    height: 97.5px;
    resize: none;
    width: calc(100% - 34.5px);
}
#reservation .col-left form button {
    background-color: transparent;
    border-radius: 4.5px;
}
#reservation .col-right {
    align-items: center;
    display: flex;
    justify-content: center;
}
#reservation .col-right img {
    animation: delivery 2s linear infinite;
}
footer {
    background-color: #333;
    border-top: 1.5px solid #2F2B63;
    letter-spacing: 0.9px;
}
